<h1>My Photos</h1>

<% @user.photos.uniq.each do |photo| %>

  <div class="grey">
    <p><%= image_tag photo.image.url(:medium) %></p>

    <%= form_for([photo, @tag]) do |f| %>
      <%= hidden_field_tag "tag[user_id]", nil %>
      <%= hidden_field_tag "tag[photo_id]", photo.id %>
      <% User.all.each do |u| %>

        <%= check_box_tag "tag[user_id]", u.id %>
        <%= u.email %><br>
      <% end %>
      <%= f.submit 'tag' %>
    <% end %>

  </div>
<% end %>




<p><%= link_to "Add a new photo", new_user_photo_path(current_user) %>

